.fromRight {
  transform: translateX(110%);
  opacity: 0;
}

.fromLeft {
  transform: translateX(-100%);
  opacity: 0;
}

#HomeAbout .show {
  transform: translateX(5%);
  opacity: 1;
}

#HomeCategories .show {
  transform: translateX(-5%);
  opacity: 1;
}