#Home {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  background-color: black;
}

#HomeAbout, #HomeCategories, #HomeSedes {
  height: 100%;
}

.secction {
  min-height: 250px;
}

.secction:nth-child(1) {
  color: #fff;
  height: 740px;
}


/*borrar temporal*/
.articulosInteres {
  background-color: #08140a;
  color: #fff;
}
/**/