#HomeDatos {
  background-color: #000;
  color: #fff;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem;
  user-select: none; /* Previene la selección */
  -webkit-user-select: none; /* Compatibilidad con navegadores WebKit */
  -moz-user-select: none; /* Compatibilidad con Firefox */
  -ms-user-select: none; /* Compatibilidad con Internet Explorer */
}

.dato:nth-child(2) {
  margin: 0 2rem;
}

#HomeDatos svg {
  width: 30px;
  height: 30px;
}