.home-articulos {
  padding: 7rem 2rem 7rem;
  background-color: #022409;
  background: linear-gradient(to top, #000000, #011104, #022409);
  position: relative;
  overflow: hidden;
}

.home-articulos h3 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.carrusel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjetas-grupo {
  display: flex;
  gap: 1rem;
  transition: all 0.5s ease;
}

.tarjeta {
  width: 300px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.tarjeta img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.contenido {
  padding: 1rem;
}

.contenido h4 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.contenido p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1rem;
}

.saber-mas {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saber-mas:hover {
  background-color: #0056b3;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
  padding: 1rem;
}

.flecha.izquierda {
  left: 0;
}

.flecha.derecha {
  right: 0;
}

.flecha:hover {
  transform: translateY(-50%) scale(1.1);
}


@media (max-width: 768px) {
  .tarjeta {
    width: 220px;
  }

  .flecha {
    font-size: 1.8rem;
    padding: 0;
    color: #0056b3;
  }
}