#HomeAbout {
  background-color: #c2c2c2;
  height: 100%;
  padding: 1rem;
}

#HomeAbout h3 {
  margin: .5rem 0;
}


.ContainerAbout {
  display: flex;
}

.ContainerAbout .ContainerImg,  .ContainerAbout .history {
  width: 50%;
}

.ContainerAbout .ContainerImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  padding: 1rem 2rem;
  text-align: justify;
}