#HomeAbout {
  background-color: #c2c2c2;
  height: 100%;
  padding: 1rem;
}

#HomeAbout h3 {
  margin: .5rem 0;
}


.ContainerAbout {
  display: flex;
}

.ContainerAbout .ContainerImg,  .ContainerAbout .ContainerText {
  width: 50%;
}

.ContainerAbout .ContainerImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContainerAbout .ContainerImg img {
  border-radius: 5px;
}

.ContainerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: .9em;
}