/* HomeSections.css */
.HomeSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.ContainerText {
  flex: 3;
  background-color: #ffffff;
  padding: 4rem 5rem 5rem;
  z-index: 2;
  border-radius: 0;
  border: 0;
}
#HomeAbout .ContainerText {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#HomeCategories .ContainerText {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 0 100%);
}


.ContainerImg {
  flex: 3;
  background-size: cover;
  background-position: center;
  transition: transform .5s ease, opacity 1s ease;
  z-index: 1;
  position: relative;
  width: 110%;
}




h3 {
  font-size: clamp(1.1em, 2vw, 1.4em);
  margin: 0 0 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #0a2c4d;
}

.ContainerText p {
  font-size: clamp(0.9em, 2vw, 1.1em);
  text-align: justify;
  line-height: 1.6em;
}

/* Responsive */
@media (max-width: 768px) {

  .ContainerImg {
    flex: 100%;
    clip-path: none;
    transform: translateX(0) !important;
  }

.ContainerAbout, .ContainerCategories {
    display: flex;
    flex-direction: column;
    height: 560px;
  }

.ContainerCategories {
    flex-direction: column-reverse;
  }

  .ContainerText {
    padding: 2rem 2rem;
    border: 0;
  }

  .ContainerImg {
    height: 100px;
  }


  .ContainerText p {
    text-align: justify;
  }

  #HomeCategories {
    padding-top: 1rem;
  }

}