#Home {
  width: 100%;
  max-width: 1300px;
  height: 100%;
}

#HomeAbout, #HomeCategories, #HomeSedes {
  height: 100%;
  padding: 1rem;
}

h3 {
  font-size: 1.5em;
  margin: 1rem 0;
  font-weight: 600;
}

.secction {
  background-color: #cccccc;
  height: 200px;
  border: 1px solid black;
}

.secction:nth-child(1) {
  background-color: #303030;
  color: #fff;
  height: 740px;
}