header, footer, aside, main, h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header {
  min-height: 70px;
}

main {
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(27, 27, 27) 100%);
  display: flex;
  flex-direction: column;
}

.ContainerText {
  border-radius: 9px;
}

footer {
  background-color: #404040;
  border: 1px solid black;
  padding: 1.5rem 0;
}

/* Estilo para navegadores compatibles */
::-webkit-scrollbar { 
  width: 7px; /* Ancho de la barra de scroll */
  height: 10px; /* Alto de la barra de scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #000000; /* Color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background: var(--firstMain-color); /* Color de la barra de scroll */
  border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #28b80b; /* Color al pasar el mouse sobre la barra */
}