* {
  margin: 0;
  padding: 0;
}

/* Definir variables en :root */
:root {
  --firstMain-color: #76FF7A;
  --secondary-color: #004c80;
  --secondary-color-hover: #0a2c4d;
  --text-color: white;
  --font-size-base: 16px;
  --navbar-height: 70px;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

main {
  min-height: 90vh;
  flex: 1;
}